* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

table {
	margin: 10px;
	border-collapse: collapse;
	background-color: #ffe4c4;
}

.header {
	border: 1px solid #000000;
	border-bottom: none;
	font-weight: 900;
	background-color: #ffe4c4;
}

th {
	border: 1px solid #000000;
	font-weight: 900;
}

.weekend {
	color: #f00;
}

td {
	border: 1px solid black;
	padding: 2px;
}
